<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.octopus_vpn_core">

    <!-- Permissions réseau et système -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Octopus Core"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Service 1 : Vrai tunnel VPN (Indispensable pour le mode VPN) -->
        <service
            android:name="com.v2ray.ang.service.V2RayVpnService"
            android:exported="false"
            android:label="Octopus VPN Service"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoService">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- Service 2 : Proxy local uniquement (Optionnel) -->
        <service
            android:name="com.v2ray.ang.service.V2RayProxyOnlyService"
            android:exported="false"
            android:label="Octopus Proxy Service"
            android:process=":RunSoService">
        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
            
